.main-wrapper {
  margin: 0 auto;
  min-width: 60vw;
  max-width: 80vw;
}

.keybord-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.print-area {
  width: 892px;
  height: 200px;
  margin: 50px 0;
}

.text {
  width: 100%;
}

.keyboard-area {
  display: flex;
  flex-wrap: wrap;
  justify-content:space-between;
  padding: 4px;
  gap: 5px;
  width: 892px;
}

.key {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: solid 2px black;
  border-radius: 5px;
  height: 45px;
}

.key-regular {
  width: 50px;
}

.key-double {
  width: 115px;
}
.key-long {
  width: 415px;
}

.active {
  background-color: cadetblue;
}